.ninja-demo-hidden {
	display:none;
}

.nd-start-demo {
    background: #fff;
    margin: 0 auto;
    padding: 20px 20px 0;
/*    width: 400px;*/
}
.nd-answer-field {
    display: block;
    margin-bottom: 10px;
    text-align: center;
}
.nd-answer-field input {
    padding: 5px;
    width: 50px;
}

.nd-start-demo-form input[type=submit] {
    font-size: 22px;
    width: 100%;
}
