.dwp-modal {
    background: rgba( 0,0,0,0.3);
/*    background: #fff;*/
    display: none;
    width: 90%;
    max-width: 700px;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 0 10px #000;
    z-index: 9999 !important;
    overflow: auto;
}

.dwp-modal-content {
    background: #fff;
    border-radius: 10px;
    background:#fff;
    padding: 15px;
/*    max-height: 100%;*/
    overflow: auto;
}

.dwp-modal a.close-modal {
    background: #fff;
    border-radius: 15px;
    color: #000;
    content: '\00d7';
    font-family: Arial, sans-serif;
    font-size: 30px;
    line-height: 18px;
    padding: 5px;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
/*    width: 30px;
    height: 30px;*/
/*  text-indent: -9999px;*/
/*  background: url(close.png) no-repeat 0 0;*/
}
.dwp-modal a.close-modal:hover {
    background: #333;
    color: #fff;
    text-decoration: none;
}

.jquery-modal {
    z-index: 9998 !important;
}